html,body{
    margin:0;padding:0;width:100%;font-family: PingFangSC-Regular, sans-serif;color:#505050;
}
body{
    padding-bottom:17.25vw;
    background: #f5f5f5;
}
a{color:grey;}
.h-p{
    z-index: 8; height:14.23vw; color: #ffffff;position:fixed;top:0;transition: background 1s;background-image:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(100,100,100,0));
}
.clearfix{clear: both;}
.scrolledDown{
    background: rgba(95, 196, 229, 1);
    color: #ddd;
}
.top{
    width:100%;
}
.top .left-t{  display:inline-block;float:left;width:65vw;padding-left:5vw;padding-right:5vw;  }
.right-t{line-height: 15vw;display:inline-block;width:20vw;padding-left:5vw; margin-top:1.78vw;}
.right-t-div{background-color:white;border-radius: 1vw;height:7.67vw;margin-top:3.2vw;}
.right-t .button{margin-top:3.2vw;}
.top img{width:100%;height:100%;}
.right-t-l{display:block;color:#505050;float:left;height:4vw;width:4vw;margin:1.9vw 0 0 5vw;}
.right-t-l img{height:100%;width:100%;float:left;}
.right-t-2{
    height:7.67vw;line-height:8vw;display:inline-block;color:#cecece;margin-left:1vw;float:left;
}
.top-poster{
    width:100%;height:71.44vw;border-color: darkgrey;
}
.top-poster img{
    width:100%;height:100%;border:1px solid darkgrey;
}
.book_list{margin-top: 56px}
.book_list ul li{ background: white;   margin: 5px 2vw; height: 25vh;  width: 96vw;}
.book_list ul li img{width: 100%;}
.book_left{height:21vh;margin-top:2vh;float:left;width: 25vw;padding-left:2vw }
.book_right{ line-height: 4vh;height:21vh;margin-top:2vh;float: right;width: 60vw;padding: 0 2vw;overflow: hidden}
.book_right span{display: block;}
.footer ul a:first-child{
    color:#5fb0e5;
}
.footer ul a:first-child img:first-child{
    display:none;
}
.footer ul a:first-child img:nth-child(2){
    display:inline-block;
}
 .footer{
     position:fixed;bottom:-2px;height:17.25vw;max-height:120px;width:100vw;border-top:1px solid #bfbfbf;font-size:3.55vw;z-index:8;background-color:white;
 }
.footer li{
    display:inline-block;width:33.333vw;margin:0;float:left;text-align: center;
}
.footer ul li img:nth-child(2){
    display:none;
}
.footer li:active{
    color:#5fb0e5;
}
.footer li img{
    width:30%;margin-top:1vw;margin-bottom:0.5vw; height: 6vh;
}
.footer span{
    font-size:2.8vw;line-height:2.8vw;margin-top:0.7vw;display:block;letter-spacing:-1px;
}
.footer-pic{
    width:90vw;margin-top:3.55vw;margin-left:5vw;
}
.footer-pic img{
    width:100%;
}
.header{z-index:100;position: fixed; width:100%; height:45px; margin:0 auto; padding:0px; display:table; background: -webkit-gradient(linear, 100% 100%, 0% 100%,from(rgb(95,196,229)), to(rgb(95,196,229))); color:#FFF; line-height:50px;}
.header_back:before {content: '';display: block;width:15px;height:15px;border-left:2px solid #ffffff;border-top: 2px solid #ffffff;margin: 14px 0 0 14px;-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg); margin-top:20px}
.left_t{width:25%;float:left;}
.left_t img{width:50px; height:40px; float:left; margin-left:10px; margin-top:10px;}
.left_t span{ font-size:12px; line-height:35px; margin-left:5px;}
.middle_t{width:50%;text-align:center;float:left; font-size:18px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.right_t{width:25%;float:right;}
.right_t a{ color:#FFFFFF; text-decoration:none; margin-right:10px; font-size:16px;}

.content{position: absolute;}
.content_top{ width: 95vw;  margin: 56px 2.5vw 3vh 2.5vw;  position: relative;  background-color: white;  height: 23vh;}
.content_top img{height: 100%}
.content_description{width: 95vw;margin: 0 auto 45px auto}
.content_description dl dt{padding:1vh 0 1vh 5vw;border-left:2px solid orange ;background: #ccc}
.content_description dl dd{background:white;margin: 1vh 2vw;height: 200px;overflow: hidden;}
.content_description dl p{text-indent: 2em; text-overflow: ellipsis;word-break:break-all}
.content_description dl a{    display: block;  width: 91vw;  background: white;  margin: -1vh auto 0 auto;}
.content_bottom{position: fixed;  bottom: 0;  width: 100vw;  height: 43px;  border-top: 1px solid grey;  background: white;}
.full-classification{
    margin:15vw 0 0 5vw;width:90vw;height:45vw;
}
.full-classification a{
    width:44.5vw;height:15vw;float:left; display:inline-block;margin-bottom:2vw;
}

.full-classification-div{
    width:44.5vw;height:15vw;float:left;margin-left:0vw;padding-left:3.5vw;
}
.full-classification-div img{
    width:13vw;display:inline-block;float:left;margin-right:2vw;
}
.full-classification-div-annotation-1{
    float:left;margin:5vw 0 0 1vw;font-size:3.6vw;font-weight:600;color:#505050;
}
.full-classification-div-annotation-2{
    float:left;margin-left:1vw;font-size:3.2vw;color:#bfbfbf;display:inline-block;line-height:3.2vw;
}
.full-close{
    position:fixed;bottom:0;left:42vw;width:16vw;height:16vw;display:block;
}

.full-close img{
    margin-top:2vw;width:55%;
}
.weui-popup-modal{
    background-color:white;
}
