<div class="footer">
    <ul>
        <a href="{:U('Index/index')}"><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-1-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-1-on.png"><br><span>图书查询</span></li></a>
        <a href="{:U('Import/fenlei')}"><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-2-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-2-on.png"><br><span>图书录入</span></li></a>
        <a onclick="login()"><li><img src="http://wx.365xuet.com/Public/Weixin/images/footer-4-off.png"><img src="http://wx.365xuet.com/Public/Weixin/images/footer-4-on.png"><br><span>我的</span></li></a>
    </ul>
</div>
<script src="http://wx.365xuet.com/Public/Weui/js/jquery.min..js"></script>
<script>
    function login(){
        var url = window.location.href;
        window.location.href = "__APP__/Public/login?url=" + url;
    }
    $(".footer ul a").click(function(){
//        alert($(this).siblings().find("img:eq(1)").html());
        $(".footer ul a").find("li img:odd").hide();
        $(".footer ul a").find("li img:even").show();
        $(this).find("img:eq(0)").hide();
        $(this).find("img:eq(1)").show();
    });
</script>